.person {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
  }
  
  .person span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
  }

  .modelAvatar {
    width: 100%;
  }

  .btn-full {
      width: 100%;
  }